<div>
<%!-- <%= live_component @socket, CellitWeb.NavBarComponent, id: :home, current_user: @current_user %> --%>

<.live_component module={CellitWeb.NavBarComponent} id="home" current_user={@current_user} />
</div>